server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8081
          predicates:
            - Path=/auth/**
        - id: challenge-service
          uri: http://challenge-service:8082
          predicates:
            - Path=/challenges/**
        - id: ai-service
          uri: http://ai-service:5000
          predicates:
            - Path=/ai/**

